.button {
    border-radius: 3px;
    border: none;
    padding: $s-size;
    font-weight: 300;
    font-size: $font-size-large;
    color: white;
    display: inline-block;
    background: $blue;
    text-decoration: none;
    line-height: 1;
}

.button--link {
    background: none;
}